.form {
  width: 400px;
  
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form label {
  padding-left: -50%;
}

/* Style the input fields */
.form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  outline: none;
}

/* Style the submit button */
.form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

/* Style the error message */
.form .error {
  color: red;
  font-weight: bold;
}
label{
  display: flex;
}
/* Style the login link */
.form .login-link {
  display: block;
  text-align: center;
  color: #000;
  text-decoration: none;
}


